*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scrollbar-width: none;
}

body{
    background: linear-gradient(270deg, #348f8f, #004040);
    background-size: 400% 400%;
    animation: changeColor 9s infinite alternate;
}
@keyframes changeColor{
    0%{
        background-position: 0% 50%;
    }

    100%{
        background-position: 100% 50%;
    }
}
.navigation{
    display: flex;
    justify-content: center;
}
.navigation img{
    position: absolute;
    transform: translate(-550px);
    width: 100px;
}
.navigation ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 35px;
    margin-bottom: 10px;
}

.navigation li{
    align-items: center;
    display: flex;
    
}
.navigation li a{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
    z-index: 2;
}
.events{
    display: block;
    margin-top: 10px;
    padding: 60px;
    min-height: 300px;
    overflow: hidden;
}
h1{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: aliceblue;
    margin-bottom: 10px;

}
.events img{
    position: absolute;
    top: -12%;
    left: 50%;
    z-index: 1;
}

h2{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.events p{
    font-family: monospace;
    padding: 5px;
    width: 400px;
    color: rgb(207, 202, 202);
    font-size: 15px;
}

.dates{
    padding: 50px;
    min-height: 300px;
    background-color: hsla(0, 0%, 100%, 0.881);
}

.one, .two, .three, .four, .five{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;

}
.one p1, .two p1, .three p1, .four p1, .five p1{
    padding: 20px;
    min-width: 50px;
    background-color: rgb(216, 211, 211);
    color: #004040;

}

.one h2, .two h2, .three h2, .four h2, .five h2{
    font-size: 20px;
    padding: 20px;
    min-width: 300px;

}
span{
    color: orange;
    font-size: 15px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-width: 100vw;
}

.info button{
    margin-top: 20px;
    min-width: 160px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: orange;
    cursor: pointer;
}

.info h2{
    font-family: monospace;
    color: #e8f9f9;
    font-size: 20px;
}